.project {
  position: relative;
  z-index: 2;

  &--section {
    padding: 0 60px;
    min-height: calc(calc(100vh - 120px) - var(--header-height));
    display: flex;
  }

  .container {
    padding: 80px 0px;
    max-width: $max;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    gap: 48px;
  }

  &--content {
    display: flex;
    flex-flow: column;
    gap: 48px;

    .project--intro & {
      width: calc(50% - 24px);

      > * {
        max-width: 800px;
      }

      p {
        line-height: 28px;
        @include font-gontserrat-light;
      }
    }
  }

  &--logo {
    width: calc(50% - 24px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 24px;

    &--img {
      width: 35%;
      min-width: 80px;
      margin: 0 auto;
      background-color: $white;
      border-radius: 100%;
      padding: 35% 0 0;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: 77%;
        height: 77%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: multiply;
      }
    }
  }

  &--typo-palette {
    &.project--section {
      .container {
        align-items: initial;
        gap: 80px;
      }

      .project--content {
        height: 100%;
        justify-content: center;
      }
    }
  }

  &--typography {
    width: 50%;

    &--list {
      display: flex;
      justify-content: left;
      gap: 16px;
      flex-flow: column;
      max-width: 600px;
      width: 100%;

      .project--typography--item {
        list-style: none;
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 40px;
        }

        &--label,
        &--name {
          display: block;
        }

        &--label {
          @include font-gontserrat-semibold;
        }

        &--name {
          @include font-gontserrat-light;
        }

        &[data-font-type="heading"],
        &[data-font-type="display"] {
          h3 {
            font-size: 45px;
            line-height: 50px;
          }
        }

        &[data-font-type="paragraph"] {
          h3 {
            font-size: 16px;
            line-height: 32px;
          }
        }

        &[data-font-name="Lato"] {
          h3 {
            @include font-lato;
          }
        }

        &[data-font-name="Bilbo Swash Caps"] {
          h3 {
            @include font-bilbo-swash-caps;
          }
        }

        &[data-font-name="Bitter"] {
          h3 {
            @include font-bitter-bold;
          }
        }

        &[data-font-name="Gentium Basic"] {
          h3 {
            @include font-gentium-book;
          }
        }

        &[data-font-name="Encode Sans"] {
          h3 {
            @include font-encode-sans;
          }
        }

        &[data-font-name="Raleway"] {
          h3 {
            @include font-raleway;
          }
        }

        &[data-font-name="Raleway Bold"] {
          h3 {
            @include font-raleway-bold;
          }
        }

        &[data-font-name="Oswald Bold"] {
          h3 {
            @include font-oswald;
          }
        }

        &[data-font-name="Oxygen"] {
          h3 {
            @include font-oxygen;
          }
        }

        &[data-font-name="Gravity Light"] {
          h3 {
            @include font-gravity;
          }
        }

        &[data-font-name="Roboto"] {
          h3 {
            @include font-roboto;
          }
        }

        &[data-font-name="Open Sans"] {
          h3 {
            @include font-open-sans;
          }
        }
      }
    }
  }

  &--color-palette {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 48px;

    .project--color--list {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      gap: 4px;

      .project--color {
        width: calc(25% - 4px);
        height: 0;
        padding: 25% 0 0 0;
        border-radius: 4px;
        list-style: none;
        position: relative;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

        &--link {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border-radius: 4px;
          pointer-events: none;
          user-select: none;
          backface-visibility: hidden;
          transform: translate3d(0, 0, 0);
        }

        &--wave {
          position: absolute;
          top: -2px;
          left: 0;
          height: calc(100% + 2px);
          width: 100%;
          --webkit-clip-path: path(
            "M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z"
          );
          clip-path: path(
            "M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z"
          );
        }

        &:nth-child(odd) {
          margin-top: 24px;
        }

        &::after {
          content: "";
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border: 1px solid $white;
          opacity: 0.3;
          border-radius: 4px;
        }
      }
    }
  }

  &--samples {
    &.project--section {
      padding: 0;
      flex-flow: column;

      .container {
        padding-bottom: 40px;
      }

      .project--section--inner {
        padding: 0 60px;
      }
    }

    .container {
      flex-flow: column;
      align-items: flex-start;
    }

    &--nav {
      display: flex;
      gap: 8px;

      button {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: transparent;
        border: 1px solid $white;

        &.active,
        &:hover,
        &:focus {
          background-color: $white;
        }
      }
    }

    &--slider {
      padding: 0 0 80px 60px;
      max-width: 2440px;
      margin: 0 auto;
      justify-content: flex-start;

      .project--samples--img {
        width: 80vw;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &--slider {
    .back-to-controls {
      opacity: 0;
      position: sticky;
      left: 80px;
      top: 50%;
      width: 80px;
      height: 0px;
      border-radius: 100%;
      background-color: $black;
      color: $white;
      display: block;
      mix-blend-mode: difference;
      z-index: 4;
      text-decoration: none;

      &--text {
        width: 80px;
        height: 80px;
        color: $black;
        border-radius: 100%;
        text-transform: uppercase;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-size: 12px;
        background-color: $white;
        position: relative;
        top: -100%;
        @include font-stilu-bold;
      }
    }
  }
}
