@import "./vars";

@mixin logo-svg {
  svg {
    width: 77px;
    height: 65px;
    color: $light-blue;
    pointer-events: none;

    * {
      color: inherit;
    }
  }

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* Media Queries */
@mixin isLarge() {
  @media screen and (min-width: 769px) and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin isTablet($direction: max) {
  @media screen and (#{$direction}-width: #{$tablet}) {
    @content;
  }
}

@mixin isMobile() {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin isCustom($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}

//Functions
@function toVW($value, $breakpoint) {
  @return calc(#{$value} / #{$breakpoint} * 100) + vw;
}
