.call-to-action {
  @include isMobile {
    min-height: 150vw;
  }

  &--container {
    display: flex;
    flex-flow: column;
    gap: clamp(40px, toVW(40, 525), 60px);
    padding: 0 clamp(0, toVW(0, 768), 40px);
    width: 100%;
    max-width: $max;
    margin: 0 auto;

    .btn {
      margin-left: auto;
    }
  }

  &--heading {
    font-size: clamp(52px, toVW(52, 525), 100px);
    line-height: clamp(62px, toVW(62, 525), 120px);
  }
}
