@use '../base/colors' as c;
@use '../helpers/mixins' as m;

.magic-word {
	text-decoration: none;
	color: c.$teal;

	&.cool-off {
		pointer-events: none;
	}

	span {
		pointer-events: none;
		user-select: none;
	}

	* {
		color: inherit;
		text-decoration: none;
	}

	.word,
	.emoji {
		border-bottom: 8px dotted c.$teal;
		padding-bottom: 2px;
		pointer-events: none;
		user-select: none;
		display: inline-block;

		@include m.isTablet {
			margin-bottom: 10px;
		}

		@include m.isMobile {
			margin-bottom: 8px;
		}
	}
}
