@use '../helpers/vars' as v;
@use '../helpers/mixins' as m;

.projects {
	flex-direction: column;
	gap: 128px;

	@include m.isMobile {
		gap: 60px;
		padding-top: 80px;
	}

	&--container {
		max-width: v.$max;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 128px;

		@include m.isMobile {
			gap: 60px;
		}
	}

	&--content {
		max-width: 400px;
		margin: 0 auto;
		text-align: center;
	}

	&--list {
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		gap: 128px;

		@include m.isTablet {
			gap: 80px;
			padding: 0;
		}

		@include m.isMobile {
			gap: 60px;
		}

		.featured--project {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			gap: 40px;
			list-style: none;

			@include m.isMobile {
				flex-wrap: wrap;
			}

			&--image {
				width: calc(43% - 20px);
				position: relative;

				@include m.isTablet {
					width: calc(50% - 20px);
				}

				@include m.isMobile {
					width: 100%;
				}

				a {
					display: block;
				}

				img {
					width: 100%;
					height: auto;
				}
			}

			&--details {
				width: calc(46% - 20px);
				padding: 32px 0;
				display: flex;
				flex-direction: column;
				gap: 48px;

				@include m.isTablet {
					width: calc(50% - 20px);
				}

				@include m.isMobile {
					width: 100%;
					padding: 0;
				}

				&--content {
					display: flex;
					flex-direction: column;
					gap: 24px;

					ul {
						list-style: none;

						li {
							font-size: clamp(16px, m.toVW(16, 525), 18px);
							line-height: clamp(20px, m.toVW(20, 525), 30px);

							@include m.isTablet {
								margin-bottom: 8px;
							}
						}
					}
				}

				.btn {
					display: inline-block;
					width: max-content;
				}
			}

			&:nth-child(even) {
				.featured--project--image {
					order: 2;

					@include m.isMobile {
						order: 1;
					}
				}

				.featured--project--details {
					order: 1;

					@include m.isMobile {
						order: 2;
					}
				}
			}
		}
	}
}
