.app-transition {
  background-color: $darkness;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s ease;

  &--icon {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 77px;
    height: 65px;
    top: 50%;
    left: 50%;
    opacity: 0;

    @include logo-svg;
  }

  &--fadeOut {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
  }

  &--fadeIn {
    opacity: 1;
    z-index: 101;
    visibility: visible;
  }
}
