.call-to-action {
  &--container {
    display: flex;
    flex-flow: column;
    gap: 60px;
    padding: 0 40px;
    width: 100%;
    max-width: $max;
    margin: 0 auto;

    .btn {
      margin-left: auto;
    }
  }

  &--heading {
    font-size: 100px;
    line-height: 120px;
  }
}
