@use './fonts' as f;
@use './colors' as c;
@use '../helpers/mixins' as m;

html,
body,
#root {
	min-height: 100%;
	margin: 0;
}

html {
	background-color: c.$darkness;

	body {
		@include f.font-gontserrat;
		font-size: 16px;
		color: c.$light-blue;
		padding: 0;
		cursor: none;
		background-color: c.$darkness;

		&.loading,
		&.mobile-menu-open {
			overflow: hidden;
		}

		&.mobile-menu-open {
			position: relative;
		}

		* {
			cursor: none;
			box-sizing: border-box;

			&.show-cursor {
				cursor: auto;

				* {
					cursor: auto;
				}
			}
		}
	}
}

::-moz-selection {
	color: c.$light-blue;
	background: c.$gray-green;
}

::selection {
	color: c.$light-blue;
	background: c.$gray-green;
}

.app-container {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100dvh;
	width: 100%;
}

main {
	min-height: calc(100dvh - var(--header-height));
}

h1,
h2,
h3,
h4 {
	@include f.font-stilu-bold;

	margin: 0;
}

h2 {
	font-size: clamp(24px, m.toVW(24, 525), 48px);
	line-height: clamp(30px, m.toVW(30, 525), 60px);
}

h3 {
	font-size: clamp(18px, m.toVW(18, 525), 24px);
	line-height: clamp(24px, m.toVW(24, 525), 48px);
}

h4 {
	font-size: 14px;
	line-height: clamp(15px, m.toVW(15, 525), 30px);
	text-transform: uppercase;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

li {
	font-size: clamp(14px, m.toVW(14, 525), 16px);
	line-height: clamp(24px, m.toVW(24, 525), 36px);
	letter-spacing: 0.025em;
}

p {
	font-size: clamp(14px, m.toVW(14, 525), 16px);
	line-height: clamp(24px, m.toVW(24, 525), 36px);
	margin: 0 0 32px;
	letter-spacing: 0.025em;

	&:last-child,
	&:only-child {
		margin: 0;
	}

	a {
		color: c.$teal;
	}
}

a.abs-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

img {
	transition: opacity 0.2s ease-in-out;

	&.is-loaded {
		opacity: 1;
	}

	&.is-loading {
		opacity: 0;
	}
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 8px 24px;
	display: inline-block;
	@include f.font-stilu-bold;
	transition: all 0.4s ease-in-out;
	letter-spacing: 0.025em;
	max-width: max-content;

	&--underline {
		font-size: 16px;
		padding: 0 0 8px;
		color: c.$gray;
		position: relative;

		&::after {
			content: '';
			width: 100%;
			height: 3px;
			background-color: c.$teal;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	&--pill {
		background-color: transparent;
		border-radius: 40px;
		color: c.$gray;
		font-size: 14px;
		line-height: 24px;
		border: 1px solid c.$gray;

		&:hover {
			background-color: c.$teal;
			border-color: c.$light-blue;
			color: c.$light-blue;
		}
	}

	&--tab {
		color: c.$gray-green;
		font-size: clamp(14px, m.toVW(14, 768), 18px);
		line-height: clamp(18px, m.toVW(18, 768), 32px);
		padding: 10px 24px;
		border-radius: 40px;
		border: 1px solid transparent;
		background-color: transparent;

		&[type='submit'] {
			border-color: c.$gray-green;
		}

		@include m.isTablet {
			padding: 10px 12px;
		}

		&:hover {
			border-color: c.$gray-green;
		}

		&.active {
			color: c.$light-blue;
			background-color: c.$teal;
			border-color: c.$teal;

			&:hover {
				color: c.$light-blue;
				background-color: c.$teal;
				border-color: c.$light-blue;
			}
		}
	}

	&--med {
		background-color: c.$teal;
		color: c.$light-blue;
		border: 1px solid c.$teal;
		font-size: clamp(18px, m.toVW(22, 525), 24px);
		line-height: clamp(28px, m.toVW(33, 525), 34px);
		padding: 12px clamp(16px, m.toVW(16, 525), 32px);
		border-radius: 40px;

		&:hover {
			background-color: transparent;
			border-color: c.$gray;
			color: c.$gray;
		}
	}

	&--large {
		background-color: c.$teal;
		color: c.$light-blue;
		border: 1px solid c.$teal;
		font-size: clamp(22px, m.toVW(22, 525), 44px);
		line-height: clamp(33px, m.toVW(33, 525), 54px);
		padding: 12px clamp(16px, m.toVW(16, 525), 32px);
		border-radius: 60px;

		&:hover {
			background-color: transparent;
			border-color: c.$gray;
			color: c.$gray;
		}
	}
}

.section {
	z-index: 2;
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 80px 60px;

	@include m.isTablet {
		padding: 60px;
	}

	@include m.isMobile {
		padding: 60px 20px;
	}
}

.sr-text {
	position: absolute;
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: -1px;
	padding: 0;
	overflow: hidden;
	word-wrap: normal !important;

	&:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		width: auto;
		z-index: 100000;
	}
}
