@import "../helpers/vars";
@import "../base/colors";

.contact {
  padding: 80px 60px;
  position: relative;
  z-index: 2;

  @include isMobile {
    padding: 60px;
  }

  @include isMobile {
    padding: 40px 20px;
  }

  &--content {
    display: flex;
    flex-flow: column;
    gap: 48px;
    max-width: 75%;
    width: 100%;

    @include isMobile {
      max-width: 100%;
    }

    h1 {
      font-size: clamp(52px, toVW(55, 525), 75px);
      line-height: clamp(62px, toVW(60, 525), 80px);
    }

    margin-bottom: 40px;
  }

  &--body {
    max-width: 460px;
    width: 100%;
  }

  &--container {
    max-width: $max;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 48px;

    .contact--form {
      &--messages {
        .message {
          display: flex;
          flex-flow: column;
          gap: 48px;

          h1 {
            font-size: clamp(52px, toVW(55, 525), 75px);
            line-height: clamp(62px, toVW(60, 525), 80px);
          }

          p {
            max-width: 460px;
            width: 100%;
            margin: 0;
          }
        }
      }

      form {
        margin: 0;
        max-width: 60%;
        display: flex;
        flex-flow: column;
        gap: 16px;

        @include isTablet {
          max-width: 100%;
        }

        .required {
          color: $error;
        }

        label {
          color: $gray;
          letter-spacing: 0.025em;
          font-size: 14px;
          @include font-gontserrat-semibold;
        }

        input[type="text"],
        input[type="email"],
        textarea,
        select {
          color: $light-blue;
          min-height: clamp(44px, toVW(44, 525), 60px);
          font-size: clamp(18px, toVW(18, 525), 24px);
          width: 100%;
          border: 1px solid $gray-green;
          border-radius: 4px;
          background-color: transparent;
          padding: 4px 8px;
          @include font-gontserrat-light;

          &::placeholder {
            color: $gray-green;
          }

          &:hover, 
          &:focus {
            border-color: $teal;
          }

          &.error {
            border-color: $error;
          }
        }

        textarea {
          height: auto;
          min-height: 120px;
        }

        input[type="submit"] {
          margin-top: 40px;
        }

        .error-message {
          color: $error;
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}
