@import "../helpers/vars";
@import "../base/colors";

.contact {
  padding: 80px 60px;
  position: relative;
  z-index: 2;

  @include isMobile {
    padding: 60px;
  }

  @include isMobile {
    padding: 40px 20px;
  }

  &--content {
    display: flex;
    flex-flow: column;
    gap: 48px;
    max-width: 75%;
    width: 100%;

    @include isMobile {
      max-width: 100%;
    }

    h1 {
      font-size: clamp(52px, toVW(55, 525), 75px);
      line-height: clamp(62px, toVW(60, 525), 80px);
    }
  }

  &--body {
    max-width: 460px;
    width: 100%;
  }

  &--container {
    max-width: $max;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 48px;

    #wpeform-contact.wpeform-contact {
      div[width] {
        margin: 0;

        @include isTablet {
          width: 100%!important;
        }
      }

      .wpeform-responsive-container {
        padding: 0;
        margin: 0;

        .wpeform-component-dropdown__dd-container {
          background-color: $dark-blue;

          .wpeform-control-select__menu {
            button.sc-jNJNQp.is-active {
              color: $teal;
              background-color: $darkness;
            }

            button.sc-jNJNQp {
              color: $light-blue;

              &:hover {
                background-color: $darkness;
              }
            }

            button.eaeSKj {
              color: $dark-blue;
            }

            .sc-fbYMXx.jzdsDB {
              padding-right: 1px;

              .sc-GhhNo.gJMLtS {
                background-color: transparent;
                border: 1px solid $light-blue;

                > span {
                  padding-left: 4.5px;
                }

                span:not(.wpeform-icon) {
                  padding-left: 0;
                }
              }

              button.sc-laZRCg.jlsGRC {
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                  color: $error;
                }

                &:hover {
                  svg {
                    opacity: 0.8;
                  }
                }
              }
            }
          }

          .sc-fbYMXx.jzdsDB {
            color: $gray;
          }

          .sc-GhhNo.ejRxVo {
            span {
              color: $dark-blue;
            }
          }
        }

        .wpeform-component-tabs {
          box-shadow: none;
        }

        .wpeform-component-grid {
          padding: 0;
        }

        form {
          margin-left: -13.5px;

          .wpeform-component-dropdown__button {
            min-height: clamp(44px, toVW(44, 525), 60px);
            font-size: clamp(18px, toVW(18, 525), 24px);
            @include font-gontserrat-light;
          }

          label {
            color: $gray;
            letter-spacing: 0.075em;
          }

          input,
          textarea {
            color: $light-blue;
            min-height: clamp(44px, toVW(44, 525), 60px);
            font-size: clamp(18px, toVW(18, 525), 24px);
            @include font-gontserrat-light;

            &::placeholder {
              color: $gray-green;
            }
          }

          .wpeform-component-buttongroup {
            justify-content: flex-start;

            .wpeform-component-button {
              height: auto;
              border: none;
              padding: 12px 24px;
              border-radius: 60px;

              .wpeform-component-button__inner {
                font-size: clamp(22px, toVW(22, 525), 32px);
                line-height: clam(32px, toVW(32, 525), 42px);
              }
            }
          }
        }
      }
    }
  }
}
