@mixin logo-svg {
  svg {
    width: 77px;
    height: 65px;
    color: $light-blue;
    pointer-events: none;

    * {
      color: inherit;
    }
  }
}

/* Media Queries */
@mixin isLarge() {
  @media screen and (min-width: 769px) and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin isTablet($direction: max) {
  @media screen and (#{$direction}-width: #{$tablet}) {
    @content;
  }
}

@mixin isMobile() {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin isCustom($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}
